Cap10-MVC/snlApp/App.UI.Web.MVC/Connected Services/MantenimientosService/MantenimientosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Entities.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Entities.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConsultaTracks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultaTracks" nillable="true" type="tns:ConsultaTracks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultaTracks" nillable="true" type="tns:ArrayOfConsultaTracks" />
  <xs:complexType name="ConsultaTracks">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumId" type="xs:int" />
      <xs:element minOccurs="0" name="AlbumTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bytes" type="xs:int" />
      <xs:element minOccurs="0" name="Composer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaConsulta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GenreId" type="xs:int" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Milliseconds" type="xs:int" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
      <xs:element minOccurs="0" name="TrackName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaTracks" nillable="true" type="tns:ConsultaTracks" />
</xs:schema>