Cap10-MVC/snlApp/App.UI.Web.WebForm/Connected Services/MantenimientosService/MantenimentosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MantenimentosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/wcfservices/MantenimientosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/wcfservices/MantenimientosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/wcfservices/MantenimientosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/App.Entities.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMantenimientosService_GetArtistAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistAll" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosService_GetArtistAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosService_GetArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtist" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosService_GetArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosService_SaveArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveArtist" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosService_SaveArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosService_DeleteArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArtist" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosService_DeleteArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="IMantenimientosService">
    <wsdl:operation name="GetArtistAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientosService/GetArtistAll" message="tns:IMantenimientosService_GetArtistAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientosService/GetArtistAllResponse" message="tns:IMantenimientosService_GetArtistAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientosService/GetArtist" message="tns:IMantenimientosService_GetArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientosService/GetArtistResponse" message="tns:IMantenimientosService_GetArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientosService/SaveArtist" message="tns:IMantenimientosService_SaveArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientosService/SaveArtistResponse" message="tns:IMantenimientosService_SaveArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientosService/DeleteArtist" message="tns:IMantenimientosService_DeleteArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientosService/DeleteArtistResponse" message="tns:IMantenimientosService_DeleteArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMantenimientosService" type="tns:IMantenimientosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArtistAll">
      <soap:operation soapAction="http://tempuri.org/IMantenimientosService/GetArtistAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <soap:operation soapAction="http://tempuri.org/IMantenimientosService/GetArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveArtist">
      <soap:operation soapAction="http://tempuri.org/IMantenimientosService/SaveArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArtist">
      <soap:operation soapAction="http://tempuri.org/IMantenimientosService/DeleteArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MantenimentosService">
    <wsdl:port name="BasicHttpBinding_IMantenimientosService" binding="tns:BasicHttpBinding_IMantenimientosService">
      <soap:address location="http://localhost:8085/wcfservices/MantenimientosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>